\section{[[classname]]}\label{[[#labelsafe]]sec:operations:[[classname]][[/labelsafe]]}

[[#description]]
[[.]]
[[/description]]

All URIs are relative to [[basePathWithoutHost]]

\begin{table}[H]
\begin{center}
\begin{tabular}{ |l|l|l| } 
 \hline
 \rowcolor{TableHeader}
 Method & Method & Path \\
 \hline
[[#operations]][[#operation]]\hyperref[ [[#labelsafe]]sec:operations:[[classname]]:[[operationId]][[/labelsafe]] ]{[[operationId]]} & \textbf{[[#uppercase]][[httpMethod]][[/uppercase]]} & [[path]] \\[[/operation]][[/operations]]
 \hline
\end{tabular}
\end{center}
\caption{List of operations available in the [[classname]]}
\label{[[#labelsafe]]tab:[[classname]]:operations[[/labelsafe]]}
\end{table}



[[#operations]]
[[#operation]]

\subsection{[[operationId]] (\emph{[[path]]})} \label{[[#labelsafe]]sec:operations:[[classname]]:[[operationId]][[/labelsafe]]}

[[summary]][[#description]]

[[.]][[/description]]

\textbf{Parameters}

[[^allParams]]This endpoint does not need any parameter.[[/allParams]][[#allParams]][[#-last]]
\begin{table}[H]
\begin{center}
\begin{tabular}{ |l|l|l| } 
 \hline
 \rowcolor{TableHeader}
 Method & Type & Default \\
 \hline[[/-last]][[/allParams]]
[[#allParams]] [[paramName]][[#required]]*[[/required]] & [[#isFile]][[dataType]][[/isFile]][[^isFile]][[#isPrimitiveType]][[dataType]][[/isPrimitiveType]][[^isPrimitiveType]]\hyperref[ [[#labelsafe]]sec:models:[[baseType]][[/labelsafe]] ]{[[dataType]]}[[/isPrimitiveType]][[/isFile]] & [[defaultValue]] \\
\hline
\cellcolor{TableHeader} & \multicolumn{2}{|l|}{\begin{minipage}{0.75\textwidth}[[^description]]No Description[[/description]][[#description]][[.]][[/description]]\end{minipage}} \\ 
\hline
[[/allParams]]
[[#allParams]][[#-last]]
\hline
\end{tabular}
\end{center}
\caption{List of parameters available for [[operationId]]}
\label{[[#labelsafe]]tab:operations:[[classname]]:[[operationId]]:parameters[[/labelsafe]]}
\end{table}
[[/-last]][[/allParams]]

\textbf{Return type}

[[#returnType]][[#returnTypeIsPrimitive]][[returnType]][[/returnTypeIsPrimitive]][[^returnTypeIsPrimitive]]\hyperref[ [[#labelsafe]]sec:models:[[returnBaseType]][[/labelsafe]] ]{[[returnType]]}[[/returnTypeIsPrimitive]][[/returnType]][[^returnType]](empty response body)[[/returnType]]

\textbf{Authorization}

[[^authMethods]]No authorization required[[/authMethods]][[#authMethods]]\hyperref[ [[#labelsafe]]sec:auth:[[name]][[/labelsafe]] ]{[[name]]}[[^-last]], [[/-last]][[/authMethods]]

\textbf{HTTP request headers}

\begin{table}[H]
\begin{center}
\begin{tabular}{ |h|l| } 
    \hline
    Content-Type & \parbox{10cm}{[[#consumes]][[mediaType]][[^-last]] \\ [[/-last]][[/consumes]][[^consumes]]Not Applicable[[/consumes]]} \\
    \hline
    Accept & \parbox{10cm}{[[#produces]][[mediaType]][[^-last]] \\ [[/-last]][[/produces]][[^produces]]Not Applicable[[/produces]]} \\
    \hline
\end{tabular}
\end{center}
\caption{Request Headers}
\label{[[#labelsafe]]tab:operations:[[classname]]:[[operationId]]:requestHeaders[[/labelsafe]]}
\end{table}

\textbf{Example}

[[>sample_curl]]

[[/operation]]
[[/operations]]
