[[#authMethods]][[#isOAuth]]
\section{OAuth - [[name]]}\label{[[#labelsafe]]sec:auth:[[name]][[/labelsafe]]}
[[/isOAuth]][[#isApiKey]]
\section{API Key - [[name]]}\label{[[#labelsafe]]sec:auth:[[name]][[/labelsafe]]}
API key parameter name \emph{[[keyParamName]]} is located in [[#isKeyInQuery]]URL query string[[/isKeyInQuery]][[#isKeyInHeader]]HTTP header[[/isKeyInHeader]]
[[/isApiKey]][[#isBasicBasic]]
\section{Basic Authentication - [[name]]}\label{[[#labelsafe]]sec:auth:[[name]][[/labelsafe]]}
[[/isBasicBasic]][[#isHttpSignature]]
\section{HTTP Signature - [[name]]}\label{[[#labelsafe]]sec:auth:[[name]][[/labelsafe]]}
[[/isHttpSignature]][[#isBasicBearer]]
\section{HTTP Bearer - [[name]]}\label{[[#labelsafe]]sec:auth:[[name]][[/labelsafe]]}
[[/isBasicBearer]]

[[#scopes]][[#-last]]
\begin{table}[H]
\begin{center}
\begin{tabular}{|h|l|}
\hline
[[#scopes]]
[[scope]] & [[description]] \\
\hline
[[/scopes]]
\end{tabular}
\end{center}
\caption{Scopes}
\label{[[#labelsafe]]tab:auth:[[name]]:scopes[[/labelsafe]]}
\end{table}
[[/-last]][[/scopes]]

\begin{minipage}{\textwidth}[[.]]\end{minipage}

[[/authMethods]]
