[[#models]]
[[#model]]
\section{[[classname]]} \label{[[#labelsafe]]sec:models:[[classname]][[/labelsafe]]}

\begin{table}[H]
\begin{center}
\begin{tabular}{ |l|l|l|l| } 
 \hline
 \rowcolor{TableHeader}
 Name & Type & Default & Access \\
\hline
[[#parent]]
[[#parentVars]]
[[name]][[#required]]*[[/required]] & [[#isPrimitiveType]][[dataType]][[/isPrimitiveType]][[^isPrimitiveType]]\hyperref[ [[#labelsafe]]sec:models:[[complexType]][[/labelsafe]] ]{[[dataType]]}[[/isPrimitiveType]] & [[defaultValue]] & [[#readOnly]][readonly] [[/readOnly]] \\
\hline
\cellcolor{TableHeader} & \multicolumn{3}{|l|}{\begin{minipage}{0.75\textwidth}[[^description]]No Description[[/description]][[#description]][[.]][[/description]]\end{minipage}} \\ 
\hline
[[/parentVars]]
[[/parent]]
[[#vars]][[name]][[#required]]*[[/required]] & [[#isPrimitiveType]][[dataType]][[/isPrimitiveType]][[^isPrimitiveType]]\hyperref[ [[#labelsafe]]sec:models:[[complexType]][[/labelsafe]] ]{[[dataType]]}[[/isPrimitiveType]] & [[defaultValue]] & [[#readOnly]][readonly] [[/readOnly]]\\
\hline
\cellcolor{TableHeader} & \multicolumn{3}{|l|}{\begin{minipage}{0.75\textwidth}[[^description]]No Description[[/description]][[#description]][[.]][[/description]]\end{minipage}} \\ 
\hline
[[/vars]]
\end{tabular}
\end{center}
\caption{List of parameters available for [[classname]]}
\end{table}

\textbf{Schema}
\begin{lstlisting}[language=json, title={A Schema of the [[classname]]}]
[[modelJson]]
\end{lstlisting}

    [[/model]]
[[/models]]
